html,
body {
  height: 100%;
}

.container-limiter{
    width: 100%;
    margin: 0 auto;
}

.container-login{
    width: 100%;
  
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    align-items: stretch;
    flex-wrap: wrap;
}


.container-image::before{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #d1f3fd;
    background: -webkit-linear-gradient(bottom, #414042, #fcfcfc);
    background: -o-linear-gradient(bottom, #414042, #ffffff);
    background: -moz-linear-gradient(bottom, #414042, #ffffff);
    background: linear-gradient(bottom, #414042, #ffffff);
    opacity: 0.8;
}



.container-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: calc(100% - 520px);
    position: relative;
    z-index: 1;
}


.login-wrap{
    width: 520px;
    min-height: 100vh;
    background: #fff;
    border-radius: 2px;
    position: relative;
}

.padding-properties{
    padding: 50px;
    padding-top: 30px;
}

.login-form{
    width: 100%;
  
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    outline: none;
    border: none;
    overflow: visible;
    margin: 0;
}


.input-wrap{
    width: 100%;
    position: relative;
 
    margin-bottom: 15px;
}

.input-field{
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;

    font-size: 22px;
    color: #0c0c0c;
    line-height: 1.2;
    padding: 0 2px;
}

.label-input{
    font-size: 18px;
    color: #682d2d;
    line-height: 2;
    padding-left: 2px;
    font-weight: bold;
}

.checkbox-label{
    margin: 0;
    display: block;
    position: relative;
 
    cursor: pointer;
    font-weight: bold;
}

.title-form{
    display: block;
    width: 100%;

    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 30px;
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 244px;
    height: 50px;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
}

.login-button-wrap{
    display: block;
    position: relative;
    z-index: 1;
    /* border-radius: 25px; */
    overflow: hidden;
}

.form1234{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
    padding-bottom: 33px;
}


.loader{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    filter: url('#goo');
    animation: rotate-move 2s ease-in-out infinite;
  }

  .dot { 
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .dot-3 {
    background-color: #f74d75;
    animation: dot-3-move 2s ease infinite, index 6s ease infinite;
  }
  
  .dot-2 {
    background-color: #10beae;
    animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
  }
  
  .dot-1 {
    background-color: #ffe386;
    animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
  }
  
  @keyframes dot-3-move {
    20% {transform: scale(1)}
    45% {transform: translateY(-18px) scale(.45)}
    60% {transform: translateY(-90px) scale(.45)}
    80% {transform: translateY(-90px) scale(.45)}
    100% {transform: translateY(0px) scale(1)}
  }
  
  @keyframes dot-2-move {
    20% {transform: scale(1)}
    45% {transform: translate(-16px, 12px) scale(.45)}
    60% {transform: translate(-80px, 60px) scale(.45)}
    80% {transform: translate(-80px, 60px) scale(.45)}
    100% {transform: translateY(0px) scale(1)}
  }
  
  @keyframes dot-1-move {
    20% {transform: scale(1)}
    45% {transform: translate(16px, 12px) scale(.45)}
    60% {transform: translate(80px, 60px) scale(.45)}
    80% {transform: translate(80px, 60px) scale(.45)}
    100% {transform: translateY(0px) scale(1)}
  }
  
  @keyframes rotate-move {
    55% {transform: translate(-50%, -50%) rotate(0deg)}
    80% {transform: translate(-50%, -50%) rotate(360deg)}
    100% {transform: translate(-50%, -50%) rotate(360deg)}
  }
  
  @keyframes index {
    0%, 100% {z-index: 3}
    33.3% {z-index: 2}
    66.6% {z-index: 1}
  }
  

/* body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
} */


/* 
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */